<div class= "container-fluid seccion text-center">
    <h1>Mariano Esser</h1>
    <img src=".\assets\imagenes\Yo-mirando.jpg" class="rounded-circle" alt="MarianoEsser" width="230" height="230">
    <h3> Full Stack Developer Jr </h3>  
</div>


<div class="container-fluid bg-2 text-center">
    <h3>¿Quien Soy?</h3>
    <p>Argentino, 31 años de edad, actualmente viviendo en Córdoba Capital.<br> Estudiante de programación en el programa "Argentina Programa" del Ministerio de Desarrollo de la Nación Argentina.<br> Iniciandome en este mundo de la programación web, con ganas de aprender y avanzar.</p>
</div>
