<div class="navbar navbar-default">
    <div class="navbar-header">
      <img src=".\assets\iconos\mapa-argentina.svg" width="90" height="70" alt="mapa-argentina" />
      <img src=".\assets\iconos\ap.png" widt="70" height="50" alt="arg programa">
    </div>
</div>

    
<div><br>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#ancla2">Estudios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ancla2">Habilidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ancla1">Contacto</a>
    </li>
  </ul>
</div>

<div class= "container-fluid seccion text-center">
    <h1>Mariano Esser</h1>
    <img src=".\assets\imagenes\Yo-mirando.jpg" class="rounded-circle" alt="MarianoEsser" width="230" height="230">
    <h3> Full Stack Developer Jr </h3>  
</div>
