<div class="navbar navbar-default">
    <div class="navbar-header">
      <img src=".\assets\iconos\mapa-argentina.svg" width="90" height="70" alt="mapa-argentina" />
      <img src=".\assets\iconos\ap.png" widt="70" height="50" alt="arg programa">
    </div>
</div>

    
<div><br>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="porfolio#ancla2">Educacion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="porfolio#ancla3">Habilidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="porfolio#ancla1">Contacto</a>
    </li>
    <button type="submit" class="btn btn-primary" (click)="iniciarSesion()">Inicicar Sesion</button>
  </ul>
  
</div>


